.content {
  width: 100%;
  display: flex;

}
.content_tab_one {
  width: 60%;
  flex-direction: column;
  display: flex;
  gap: 20px;
}
.content_tab_two {
  width: 30%;
  right: 0;
  margin-right: 60px;
  position: fixed;
  display: flex;
  flex-direction: column;
}

@media (max-width: 935px) {
    .content_tab_one {
      width: 90%;
    margin-inline: auto;
      flex-direction: column;
      display: flex;
      align-items: center;
      gap: 20px;
    }

  .content_tab_two {
    display: none;
  }
}
@media (max-width: 626px) {
  .content_tab_one {
    width: 90%;
    margin-inline: auto;
    flex-direction: column;
    display: flex;
  }
}
